################################################################################
# TAP chain declaration
# Bypass Controller Value = 0xffff00ff
################################################################################
jtag newtap elct bps_ddr_phy -irlen 1
jtag newtap elct bps_ila7 -irlen 1
jtag newtap elct bps_ila6 -irlen 1
jtag newtap elct bps_ila5 -irlen 1
jtag newtap elct bps_ila4 -irlen 1
jtag newtap elct bps_ila3 -irlen 1
jtag newtap elct bps_ila2 -irlen 1
jtag newtap elct bps_ila1 -irlen 1
jtag newtap elct bps_ila0 -irlen 1
jtag newtap elct bps_jtag2axi -irlen 1
jtag newtap elct bps_scr9_cluster_top_ila -irlen 1
jtag newtap elct scr9_cpu_heavy0_core -irlen 5 -expected-id 0x00000001
jtag newtap elct scr9_cpu_lite0_core -irlen 5 -expected-id 0x00000001
jtag newtap elct bps_sdmmc2_phy -irlen 1
jtag newtap elct bps_sdmmc1_phy -irlen 1
jtag newtap elct bps_sdmmc0_phy -irlen 1
jtag newtap elct bps_emmc_phy -irlen 1
jtag newtap elct bps_usb3_phy -irlen 1
jtag newtap elct bps_usb2_phy -irlen 1
jtag newtap elct bps_usb1_phy -irlen 1
jtag newtap elct bps_usb0_phy -irlen 1
# NOTE: we trick init_targets procedure so no target is created for scr1
jtag newtap elct cpu_scr1 -irlen 5 -expected-id 0xdeb11001
jtag newtap elct scu_master_tap -irlen 5 -expected-id 0x01234567

################################################################################
# Targets declaration
################################################################################
proc ocd_test_target_configuration_hook {} {
}

proc init_targets {} {
        foreach tap [lreverse [jtag names]] {
                if {[string match "elct.scr*" $tap]} {
                        target create $tap riscv -endian little -chain-position $tap
                }
        }

        ocd_test_target_configuration_hook
}

