proc ocd_test_target_configuration_hook {} {
}

proc init_targets {} {
	set _CHIPNAME riscv
	jtag newtap $_CHIPNAME cpu -irlen 5

	set _TARGETNAME $_CHIPNAME.cpu
	target create $_TARGETNAME riscv -endian little -chain-position $_TARGETNAME
	# $_TARGETNAME configure -rtos hwthread
	# $_TARGETNAME configure -work-area-phys 0x3ff0000 -work-area-size 0x10000 -work-area-backup 1
	# $_TARGETNAME riscv expose_csrs XXXX-YYYY,AAAA-BBBB

	foreach tgt_name [target names] {
		$tgt_name configure -event examine-fail {
			echo "ERROR: TARGET [target current] EXAMINATION FAILURE"
			shutdown error
		}
	}

	ocd_test_target_configuration_hook
}

gdb report_register_access_error enable
gdb report_data_abort enable

