makepy @ git+ssh://git@gitlab.dev.syntacore.com/tools/makepy.git@8574f1c4525302e175a6fc0e912502bcf6adb645
black==23.3.0
cmakelang==0.6.13
conan==2.0.4
isort==5.12.0
mypy==1.2.0
pexpect==4.8.0
pylint==2.17.4
requests==2.30.0
## The following requirements were added by pip freeze:
astroid==2.15.4
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
dill==0.3.6
distro==1.8.0
docker==6.1.1
fasteners==0.18
filelock==3.12.0
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
Jinja2==3.1.2
lazy-object-proxy==1.9.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.1
patch-ng==1.17.4
pathspec==0.11.1
platformdirs==3.5.0
podman==4.5.0
ptyprocess==0.7.0
Pygments==2.15.1
python-dateutil==2.8.2
pyxdg==0.28
PyYAML==6.0
rich==13.3.5
semver==2.13.0
six==1.16.0
smmap==5.0.0
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.5.0
urllib3==1.26.15
websocket-client==1.5.1
wrapt==1.15.0
