makepy==1.26.4
black==23.3.0
cmakelang==0.6.13
isort==5.12.0
mypy==1.2.0
pexpect==4.8.0
pylint==2.17.4
requests==2.30.0
yamllint==1.32.0
## The following requirements were added by pip freeze:
astroid==2.15.8
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
conan==2.0.9
dill==0.3.7
distro==1.8.0
docker==6.1.3
fasteners==0.19
filelock==3.12.4
gitdb==4.0.10
GitPython==3.1.37
idna==3.4
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
patch-ng==1.17.4
pathspec==0.11.2
platformdirs==3.11.0
podman==4.7.0
ptyprocess==0.7.0
python-dateutil==2.8.2
pyxdg==0.28
PyYAML==6.0.1
semver==2.13.0
six==1.16.0
smmap==5.0.1
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
urllib3==1.26.17
websocket-client==1.6.4
wrapt==1.15.0
