#
# Sensors Link Phoenix Series SoC Devices
# 
#

if { [info exists CHIPNAME] } {
    set _CHIPNAME $CHIPNAME
} else {
    set _CHIPNAME phoenix
}
# Work-area is a space in RAM used for flash programming
# By default use 1KiB
if { [info exists WORKAREASIZE] } {
   set _WORKAREASIZE $WORKAREASIZE
} else {
   set _WORKAREASIZE 0x2000
}

if { [info exists CPUTAPID] } {
    set _CPUTAPID $CPUTAPID
} else {
    set _CPUTAPID 0x1e200a6d
}

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME
$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 1

set _FLASHNAME $_CHIPNAME.pflash
flash bank $_FLASHNAME phoenix 0x10100000 0x20000 4 4 $_TARGETNAME

riscv set_reset_timeout_sec 1
