# WARNING!
# This is a legacy example demonstarating how to configure openocd to debug
# a design with 4 RISC-V cores.
# Consider using "syntacore_target.cfg" instead

adapter speed 2000

proc init_targets {} {
	jtag newtap riscv cpu0 -irlen 5
	jtag newtap riscv cpu1 -irlen 5
	jtag newtap riscv cpu2 -irlen 5
	jtag newtap riscv cpu3 -irlen 5

	target create riscv.cpu0 riscv -endian little -chain-position riscv.cpu0 -coreid 0
	riscv.cpu0 configure -work-area-phys 0x3ff0000 -work-area-size 0x10000 -work-area-backup 1

	target create riscv.cpu1 riscv -endian little -chain-position riscv.cpu1 -coreid 1
	riscv.cpu1 configure -work-area-phys 0x3fe0000 -work-area-size 0x10000 -work-area-backup 1

	target create riscv.cpu2 riscv -endian little -chain-position riscv.cpu2 -coreid 2
	riscv.cpu1 configure -work-area-phys 0x3fd0000 -work-area-size 0x10000 -work-area-backup 1

	target create riscv.cpu3 riscv -endian little -chain-position riscv.cpu3 -coreid 3
	riscv.cpu3 configure -work-area-phys 0x3fc0000 -work-area-size 0x10000 -work-area-backup 1
}

gdb_report_register_access_error enable
gdb_report_data_abort enable
