proc ocd_test_target_configuration_hook {} {
}

proc init_targets {} {
	set _CHIPNAME riscv
	jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10e31913

	set _TARGETNAME $_CHIPNAME.cpu
	target create $_TARGETNAME riscv -chain-position $_TARGETNAME
	# 1952 - CSR_TSELECT, 1953 - CSR_TDATA1
	$_TARGETNAME riscv hide_csrs 1952-1953

	foreach tgt_name [target names] {
		$tgt_name configure -event examine-fail {
			echo "ERROR: TARGET [target current] EXAMINATION FAILURE"
			shutdown error
		}
	}

	ocd_test_target_configuration_hook
}

gdb report_register_access_error enable
gdb report_data_abort enable
