proc ocd_test_target_configuration_hook {} {
}

proc init_targets {} {
	set _CHIPNAME riscv
	jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10e31913

	set _TARGETNAME_0 $_CHIPNAME.cpu0
	set _TARGETNAME_1 $_CHIPNAME.cpu1
	set _TARGETNAME_2 $_CHIPNAME.cpu2
	set _TARGETNAME_3 $_CHIPNAME.cpu3

	target create $_TARGETNAME_0 riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread
	target create $_TARGETNAME_1 riscv -chain-position $_CHIPNAME.cpu -coreid 1 -rtos hwthread
	target create $_TARGETNAME_2 riscv -chain-position $_CHIPNAME.cpu -coreid 2 -rtos hwthread
	target create $_TARGETNAME_3 riscv -chain-position $_CHIPNAME.cpu -coreid 3 -rtos hwthread

	# just an example how to configure further
	#foreach t [target names] {
	#    targets $t
	#    riscv expose_csrs 2288
	#    riscv expose_custom 1,12345-12348
	#}

	foreach tgt_name [target names] {
		$tgt_name configure -event examine-fail {
			echo "ERROR: TARGET [target current] EXAMINATION FAILURE"
			shutdown error
		}
	}

	ocd_test_target_configuration_hook
}

gdb_report_data_abort enable
gdb_report_register_access_error enable

