adapter speed 2000

proc init_targets {} {
	set _CHIPNAME riscv
	jtag newtap $_CHIPNAME cpu -irlen 5

	set _TARGETNAME $_CHIPNAME.cpu
	target create $_TARGETNAME riscv -endian little -chain-position $_TARGETNAME -coreid 0
	# 928 - CSR_PMPCFG0 - some renamed (existing) register
	# 2047 - some unallocated register, but renamed (non-default name)
	# 2048 - some unallocated register
	$_TARGETNAME riscv expose_csrs 928=invalid_rename, 2047=some_register, 2048

	foreach tgt_name [target names] {
		$tgt_name configure -event examine-fail {
			echo "ERROR: TARGET [target current] EXAMINATION FAILURE"
			shutdown error
		}
	}
}

gdb_report_register_access_error enable
gdb_report_data_abort enable
