# *registerStandInfo* accepts the following arguments:
#   stand name - board can reference the description by name
#   path to debug adapter configuration
#   serial number of an adapter
#   the desired adapter speed

registerStandInfo \
  twin \
  share/openocd/scripts/interface/ftdi/digilent-hs2a.cfg \
  210249B070B3 \
  2000

registerStandInfo \
  zalman \
  share/openocd/scripts/interface/ftdi/digilent-hs2a.cfg \
  210249B06EB3 \
  500

