# The following creates a record:
#   - stand name: "stand_name"
#   - path to debug adapter configuraion file: digilent-hs2.cfg
#   - adapter serial: 777666555
#   - desired adapter speed: 500 (kHz)
registerStandInfo \
  stand_name \
  share/openocd/scripts/interface/ftdi/digilent-hs2.cfg \
  777666555 \
  500
